# Capstone Project - Google Predictive Analytics

# Part_4: EDA and Base Model

### Extensive EDA of our data and base model

In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv("../kaggle_data/train.csv")

C:\Users\install\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
df.head()

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386
3,Organic Search,20160902,"{""browser"": ""UC Browser"", ""browserVersion"": ""n...",4763447161404445595,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213
4,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",27294437909732085,"{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 12 columns):
channelGrouping         903653 non-null object
date                    903653 non-null int64
device                  903653 non-null object
fullVisitorId           903653 non-null object
geoNetwork              903653 non-null object
sessionId               903653 non-null object
socialEngagementType    903653 non-null object
totals                  903653 non-null object
trafficSource           903653 non-null object
visitId                 903653 non-null int64
visitNumber             903653 non-null int64
visitStartTime          903653 non-null int64
dtypes: int64(4), object(8)
memory usage: 82.7+ MB

In [115]:
df.describe()

               date       visitId    visitNumber  visitStartTime
count  9.036530e+05  9.036530e+05  903653.000000    9.036530e+05
mean   2.016589e+07  1.485007e+09       2.264897    1.485007e+09
std    4.697698e+03  9.022124e+06       9.283735    9.022124e+06
min    2.016080e+07  1.470035e+09       1.000000    1.470035e+09
25%    2.016103e+07  1.477561e+09       1.000000    1.477561e+09
50%    2.017011e+07  1.483949e+09       1.000000    1.483949e+09
75%    2.017042e+07  1.492759e+09       1.000000    1.492759e+09
max    2.017080e+07  1.501657e+09     395.000000    1.501657e+09

In [116]:
df.columns

Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

#### Exploring each column to understand contents

In [117]:
df['channelGrouping'].value_counts() # Can get_dummies with this variable

Organic Search    381561
Social            226117
Direct            143026
Referral          104838
Paid Search        25326
Affiliates         16403
Display             6262
(Other)              120
Name: channelGrouping, dtype: int64

In [118]:
df['channelGrouping'].isnull().sum()

0

In [119]:
from datetime import datetime
df['date'].value_counts()[:5] # stored as int. possibly changing to date timestamp
df['date'] = pd.to_datetime(df['date'])
df['date'].value_counts()[:5]

1970-01-01 00:00:00.020161128    4807
1970-01-01 00:00:00.020161115    4685
1970-01-01 00:00:00.020161114    4466
1970-01-01 00:00:00.020161130    4435
1970-01-01 00:00:00.020161026    4375
Name: date, dtype: int64

In [120]:
df['date'].isnull().sum()

0

In [121]:
# stored as a json list. 
#most of the data is not available in demo dataset and may not be relevant in model. 
#Might end up not including in data
df['device'][3]

'{"browser": "UC Browser", "browserVersion": "not available in demo dataset", "browserSize": "not available in demo dataset", "operatingSystem": "Linux", "operatingSystemVersion": "not available in demo dataset", "isMobile": false, "mobileDeviceBranding": "not available in demo dataset", "mobileDeviceModel": "not available in demo dataset", "mobileInputSelector": "not available in demo dataset", "mobileDeviceInfo": "not available in demo dataset", "mobileDeviceMarketingName": "not available in demo dataset", "flashVersion": "not available in demo dataset", "language": "not available in demo dataset", "screenColors": "not available in demo dataset", "screenResolution": "not available in demo dataset", "deviceCategory": "desktop"}'

In [122]:
import json

In [123]:
device = pd.DataFrame([json.loads(each) for each in df['device']])

In [124]:
device.head(2)

,browser,browserSize,browserVersion,deviceCategory,flashVersion,isMobile,language,mobileDeviceBranding,mobileDeviceInfo,mobileDeviceMarketingName,mobileDeviceModel,mobileInputSelector,operatingSystem,operatingSystemVersion,screenColors,screenResolution
0,Chrome,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Windows,not available in demo dataset,not available in demo dataset,not available in demo dataset
1,Firefox,not available in demo dataset,not available in demo dataset,desktop,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,Macintosh,not available in demo dataset,not available in demo dataset,not available in demo dataset

In [125]:
device.isnull().sum()

browser                      0
browserSize                  0
browserVersion               0
deviceCategory               0
flashVersion                 0
isMobile                     0
language                     0
mobileDeviceBranding         0
mobileDeviceInfo             0
mobileDeviceMarketingName    0
mobileDeviceModel            0
mobileInputSelector          0
operatingSystem              0
operatingSystemVersion       0
screenColors                 0
screenResolution             0
dtype: int64

In [126]:
for each in device:
    print(device[each].value_counts()[:3])

Chrome     620364
Safari     182245
Firefox     37069
Name: browser, dtype: int64
not available in demo dataset    903653
Name: browserSize, dtype: int64
not available in demo dataset    903653
Name: browserVersion, dtype: int64
desktop    664479
mobile     208725
tablet      30449
Name: deviceCategory, dtype: int64
not available in demo dataset    903653
Name: flashVersion, dtype: int64
False    664530
True     239123
Name: isMobile, dtype: int64
not available in demo dataset    903653
Name: language, dtype: int64
not available in demo dataset    903653
Name: mobileDeviceBranding, dtype: int64
not available in demo dataset    903653
Name: mobileDeviceInfo, dtype: int64
not available in demo dataset    903653
Name: mobileDeviceMarketingName, dtype: int64
not available in demo dataset    903653
Name: mobileDeviceModel, dtype: int64
not available in demo dataset    903653
Name: mobileInputSelector, dtype: int64
Windows      350072
Macintosh    253938
Android      123892
Name: operatingSystem, dtype: int64
not available in demo dataset    903653
Name: operatingSystemVersion, dtype: int64
not available in demo dataset    903653
Name: screenColors, dtype: int64
not available in demo dataset    903653
Name: screenResolution, dtype: int64

In [127]:
device.columns

Index(['browser', 'browserSize', 'browserVersion', 'deviceCategory',
       'flashVersion', 'isMobile', 'language', 'mobileDeviceBranding',
       'mobileDeviceInfo', 'mobileDeviceMarketingName', 'mobileDeviceModel',
       'mobileInputSelector', 'operatingSystem', 'operatingSystemVersion',
       'screenColors', 'screenResolution'],
      dtype='object')

In [128]:
# Droping all "not availble in demo dataset" 
device = device.drop(['browserSize', 'browserVersion', 'flashVersion', 'language', 'mobileDeviceBranding',
       'mobileDeviceInfo', 'mobileDeviceMarketingName', 'mobileDeviceModel',
       'mobileInputSelector', 'operatingSystemVersion',
       'screenColors', 'screenResolution' ], axis=1)

In [129]:
device.head(2)

   browser deviceCategory  isMobile operatingSystem
0   Chrome        desktop     False         Windows
1  Firefox        desktop     False       Macintosh

In [130]:
device['isMobile'].value_counts()

False    664530
True     239123
Name: isMobile, dtype: int64

In [131]:
device['deviceCategory'].value_counts()

desktop    664479
mobile     208725
tablet      30449
Name: deviceCategory, dtype: int64

In [132]:
device['isMobile'].isnull().sum()

0

In [133]:
device['deviceCategory'].isnull().sum()

0

In [134]:
device[(device['isMobile'] == False) & (device['deviceCategory'] == 'mobile')].groupby(['operatingSystem', 'browser']).count()[['deviceCategory']]

                                   deviceCategory
operatingSystem browser
Linux           Chrome                         91
                Opera                          10
                UC Browser                      1
Macintosh       Chrome                          7
                Safari                         25
Windows         Chrome                          7
                Edge                            1
                Internet Explorer               4
iOS             Safari (in-app)                 1

In [135]:
device['operatingSystem'].value_counts()

Windows          350072
Macintosh        253938
Android          123892
iOS              107665
Linux             35034
Chrome OS         26337
(not set)          4695
Windows Phone      1216
Samsung             280
BlackBerry          218
Nintendo Wii        100
Firefox OS           89
Xbox                 66
Nintendo WiiU        35
FreeBSD               9
Nokia                 2
OpenBSD               2
Nintendo 3DS          1
NTT DoCoMo            1
SunOS                 1
Name: operatingSystem, dtype: int64

In [136]:
df.shape

(903653, 12)

In [137]:
device.shape

(903653, 4)

In [138]:
# joining the device sub-columns to df while deleting device
df = pd.concat([df, device], axis=1).drop('device', axis=1)

In [139]:
df.head()

,channelGrouping,date,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime,browser,deviceCategory,isMobile,operatingSystem
0,Organic Search,1970-01-01 00:00:00.020160902,1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385,Chrome,desktop,False,Windows
1,Organic Search,1970-01-01 00:00:00.020160902,377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147,Firefox,desktop,False,Macintosh
2,Organic Search,1970-01-01 00:00:00.020160902,3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386,Chrome,desktop,False,Windows
3,Organic Search,1970-01-01 00:00:00.020160902,4763447161404445595,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213,UC Browser,desktop,False,Linux
4,Organic Search,1970-01-01 00:00:00.020160902,27294437909732085,"{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600,Chrome,mobile,True,Android

In [140]:
df['fullVisitorId'].head()

0    1131660440785968503
1     377306020877927890
2    3895546263509774583
3    4763447161404445595
4      27294437909732085
Name: fullVisitorId, dtype: object

In [141]:
#df['fullVisitorId'].astype('int')

In [142]:
# unable to cast as an int due to int memory overflow error
# casting as a float instead. 
# May not to do much with this since it's an id and they have very little impact on models
df['fullVisitorId'].astype('float').head()

0    1.131660e+18
1    3.773060e+17
2    3.895546e+18
3    4.763447e+18
4    2.729444e+16
Name: fullVisitorId, dtype: float64

In [143]:
df['geoNetwork'][0]

'{"continent": "Asia", "subContinent": "Western Asia", "country": "Turkey", "region": "Izmir", "metro": "(not set)", "city": "Izmir", "cityId": "not available in demo dataset", "networkDomain": "ttnet.com.tr", "latitude": "not available in demo dataset", "longitude": "not available in demo dataset", "networkLocation": "not available in demo dataset"}'

In [144]:
# stored as a json script. 
# might draw correlation from continent and country, hence get_dummies
geoNetwork = pd.DataFrame([json.loads(each) for each in df['geoNetwork']])

In [145]:
geoNetwork.head()

,city,cityId,continent,country,latitude,longitude,metro,networkDomain,networkLocation,region,subContinent
0,Izmir,not available in demo dataset,Asia,Turkey,not available in demo dataset,not available in demo dataset,(not set),ttnet.com.tr,not available in demo dataset,Izmir,Western Asia
1,not available in demo dataset,not available in demo dataset,Oceania,Australia,not available in demo dataset,not available in demo dataset,not available in demo dataset,dodo.net.au,not available in demo dataset,not available in demo dataset,Australasia
2,Madrid,not available in demo dataset,Europe,Spain,not available in demo dataset,not available in demo dataset,(not set),unknown.unknown,not available in demo dataset,Community of Madrid,Southern Europe
3,not available in demo dataset,not available in demo dataset,Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Southeast Asia
4,not available in demo dataset,not available in demo dataset,Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,Northern Europe

In [146]:
geoNetwork.city.value_counts().head()

not available in demo dataset    508229
Mountain View                     40884
(not set)                         34262
New York                          26371
San Francisco                     20329
Name: city, dtype: int64

In [147]:
geoNetwork.cityId.value_counts()

not available in demo dataset    903653
Name: cityId, dtype: int64

In [148]:
geoNetwork.latitude.value_counts()

not available in demo dataset    903653
Name: latitude, dtype: int64

In [149]:
geoNetwork.longitude.value_counts()

not available in demo dataset    903653
Name: longitude, dtype: int64

In [150]:
geoNetwork.networkLocation.value_counts()

not available in demo dataset    903653
Name: networkLocation, dtype: int64

In [151]:
# will drop because over 70,000 is not available nor set. The values available are in city.
geoNetwork.metro.value_counts()[:5]

not available in demo dataset        508229
(not set)                            201766
San Francisco-Oakland-San Jose CA     95913
New York NY                           26917
London                                12571
Name: metro, dtype: int64

In [152]:
geoNetwork.networkDomain.value_counts()[:5]

(not set)          244881
unknown.unknown    146034
comcast.net         28743
rr.com              14827
verizon.net         13637
Name: networkDomain, dtype: int64

In [153]:
len(geoNetwork.city) - sum(geoNetwork.city == geoNetwork.metro)

348719

In [154]:
geoNetwork = geoNetwork.drop(['networkLocation', 'longitude', 'latitude', 'cityId', 'metro'], axis=1)

In [155]:
geoNetwork.head()

,city,continent,country,networkDomain,region,subContinent
0,Izmir,Asia,Turkey,ttnet.com.tr,Izmir,Western Asia
1,not available in demo dataset,Oceania,Australia,dodo.net.au,not available in demo dataset,Australasia
2,Madrid,Europe,Spain,unknown.unknown,Community of Madrid,Southern Europe
3,not available in demo dataset,Asia,Indonesia,unknown.unknown,not available in demo dataset,Southeast Asia
4,not available in demo dataset,Europe,United Kingdom,unknown.unknown,not available in demo dataset,Northern Europe

In [156]:
geoNetwork.isnull().sum()

city             0
continent        0
country          0
networkDomain    0
region           0
subContinent     0
dtype: int64

In [157]:
# adding geoNetwork sub-columns to df
df = pd.concat([df, geoNetwork], axis=1).drop('geoNetwork', axis=1)

In [158]:
df.head(3)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime,browser,deviceCategory,isMobile,operatingSystem,city,continent,country,networkDomain,region,subContinent
0,Organic Search,1970-01-01 00:00:00.020160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385,Chrome,desktop,False,Windows,Izmir,Asia,Turkey,ttnet.com.tr,Izmir,Western Asia
1,Organic Search,1970-01-01 00:00:00.020160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147,Firefox,desktop,False,Macintosh,not available in demo dataset,Oceania,Australia,dodo.net.au,not available in demo dataset,Australasia
2,Organic Search,1970-01-01 00:00:00.020160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386,Chrome,desktop,False,Windows,Madrid,Europe,Spain,unknown.unknown,Community of Madrid,Southern Europe

In [159]:
# sessionID has fullVisitorId plus _and session id. 
# might hold same relevance as fullVisitorId 
df['sessionId'][0]

'1131660440785968503_1472830385'

In [160]:
df['fullVisitorId'][0]

'1131660440785968503'

In [161]:
df['sessionId'][0].split('_')[-1]

'1472830385'

In [162]:
# variable has same value for all observations. might not include column in model
df['socialEngagementType'].value_counts()
df.drop('socialEngagementType', axis=1, inplace=True)

In [163]:
# stored as a json string- showing online presence/status to site.
# might use newVisits number in model if different for observations 
# also might contain our y-label. Will explore in details further down.
df['totals'][0]

'{"visits": "1", "hits": "1", "pageviews": "1", "bounces": "1", "newVisits": "1"}'

In [164]:
json.loads(df['trafficSource'][2])

{'campaign': '(not set)',
 'source': 'google',
 'medium': 'organic',
 'keyword': '(not provided)',
 'adwordsClickInfo': {'criteriaParameters': 'not available in demo dataset'}}

In [165]:
# this is a json script that contain values that may be valuable to our model. 
#might make use of some of the keys in the dictionary by getting dummies on the useful ones.
trafficSource = pd.DataFrame([json.loads(each) for each in df['trafficSource']])

In [166]:
trafficSource.head()

,adContent,adwordsClickInfo,campaign,campaignCode,isTrueDirect,keyword,medium,referralPath,source
0,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,(not provided),organic,NaN,google
1,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,(not provided),organic,NaN,google
2,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,(not provided),organic,NaN,google
3,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,google + online,organic,NaN,google
4,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,True,(not provided),organic,NaN,google

In [167]:
trafficSource.isnull().sum()

adContent           892707
adwordsClickInfo         0
campaign                 0
campaignCode        903652
isTrueDirect        629648
keyword             502929
medium                   0
referralPath        572712
source                   0
dtype: int64

In [168]:
trafficSource.adContent.value_counts()[:2]

Google Merchandise Collection    5122
Google Online Store              1245
Name: adContent, dtype: int64

In [169]:
# Has the same value for all records. will drop.
trafficSource.adwordsClickInfo.values

array([{'criteriaParameters': 'not available in demo dataset'},
       {'criteriaParameters': 'not available in demo dataset'},
       {'criteriaParameters': 'not available in demo dataset'}, ...,
       {'criteriaParameters': 'not available in demo dataset'},
       {'criteriaParameters': 'not available in demo dataset'},
       {'criteriaParameters': 'not available in demo dataset'}],
      dtype=object)

In [170]:
# We could assume that for "not set" entries, no campaign was made. Customers went to the site on their own.
# Which is is more than 80% of visits.
trafficSource.campaign.value_counts()[:2]

(not set)           865347
Data Share Promo     16403
Name: campaign, dtype: int64

In [171]:
# will drop campaignCode since its all null with exception of 1
trafficSource.campaignCode.value_counts()

11251kjhkvahf    1
Name: campaignCode, dtype: int64

In [172]:
trafficSource.isTrueDirect.notnull().value_counts()

False    629648
True     274005
Name: isTrueDirect, dtype: int64

In [173]:
trafficSource.keyword.value_counts()[:5] # Might fill nan's with -999

(not provided)                     366363
6qEhsCssdK0z36ri                    11503
(Remarketing/Content targeting)      2298
1hZbAqLCbjwfgOH7                     2264
google merchandise store             2209
Name: keyword, dtype: int64

In [174]:
trafficSource.medium.value_counts()

organic      381561
referral     330955
(none)       143026
cpc           25326
affiliate     16403
cpm            6262
(not set)       120
Name: medium, dtype: int64

In [175]:
trafficSource.referralPath.value_counts()[:5]

/                  75523
/yt/about/         71036
/analytics/web/    14620
/yt/about/tr/      14599
/yt/about/vi/      13753
Name: referralPath, dtype: int64

In [176]:
trafficSource.source.value_counts()[:5]

google                 400788
youtube.com            212602
(direct)               143028
mall.googleplex.com     66416
Partners                16411
Name: source, dtype: int64

In [177]:
pd.DataFrame(df['trafficSource'].value_counts()).head()

                                                    trafficSource
{"campaign": "(not set)", "source": "google", "...         297390
{"campaign": "(not set)", "source": "(direct)",...         143024
{"referralPath": "/yt/about/", "campaign": "(no...          66621
{"campaign": "(not set)", "source": "google", "...          66563
{"referralPath": "/", "campaign": "(not set)", ...          35224

In [178]:
trafficSource.columns

Index(['adContent', 'adwordsClickInfo', 'campaign', 'campaignCode',
       'isTrueDirect', 'keyword', 'medium', 'referralPath', 'source'],
      dtype='object')

In [179]:
trafficSource = trafficSource.drop(['adwordsClickInfo', 'campaignCode'], axis=1)

In [180]:
trafficSource = trafficSource.fillna(-999)

In [181]:
trafficSource.head()

,adContent,campaign,isTrueDirect,keyword,medium,referralPath,source
0,-999,(not set),-999,(not provided),organic,-999,google
1,-999,(not set),-999,(not provided),organic,-999,google
2,-999,(not set),-999,(not provided),organic,-999,google
3,-999,(not set),-999,google + online,organic,-999,google
4,-999,(not set),True,(not provided),organic,-999,google

In [182]:
df = pd.concat([df, trafficSource], axis=1).drop('trafficSource', axis=1)

In [183]:
df.head()

,channelGrouping,date,fullVisitorId,sessionId,totals,visitId,visitNumber,visitStartTime,browser,deviceCategory,...,networkDomain,region,subContinent,adContent,campaign,isTrueDirect,keyword,medium,referralPath,source
0,Organic Search,1970-01-01 00:00:00.020160902,1131660440785968503,1131660440785968503_1472830385,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...",1472830385,1,1472830385,Chrome,desktop,...,ttnet.com.tr,Izmir,Western Asia,-999,(not set),-999,(not provided),organic,-999,google
1,Organic Search,1970-01-01 00:00:00.020160902,377306020877927890,377306020877927890_1472880147,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...",1472880147,1,1472880147,Firefox,desktop,...,dodo.net.au,not available in demo dataset,Australasia,-999,(not set),-999,(not provided),organic,-999,google
2,Organic Search,1970-01-01 00:00:00.020160902,3895546263509774583,3895546263509774583_1472865386,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...",1472865386,1,1472865386,Chrome,desktop,...,unknown.unknown,Community of Madrid,Southern Europe,-999,(not set),-999,(not provided),organic,-999,google
3,Organic Search,1970-01-01 00:00:00.020160902,4763447161404445595,4763447161404445595_1472881213,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...",1472881213,1,1472881213,UC Browser,desktop,...,unknown.unknown,not available in demo dataset,Southeast Asia,-999,(not set),-999,google + online,organic,-999,google
4,Organic Search,1970-01-01 00:00:00.020160902,27294437909732085,27294437909732085_1472822600,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...",1472822600,2,1472822600,Chrome,mobile,...,unknown.unknown,not available in demo dataset,Northern Europe,-999,(not set),True,(not provided),organic,-999,google

In [184]:
# stored as ints, will be used in correlation and modela
df['visitId'].value_counts().sort_values(ascending=False)[:5]

1493146175    8
1484649802    6
1478345904    6
1481369525    6
1494374199    5
Name: visitId, dtype: int64

In [185]:
# stored as ints, could be used in correlation and model
df['visitNumber'].value_counts().sort_values(ascending=False)[:5]

1    703060
2     92548
3     35843
4     19157
5     11615
Name: visitNumber, dtype: int64

In [186]:
# stored as ints, values and counts are same as visitId. 
# may be redundant since its a duplicate otherwise, could be used in correlation and model
df['visitStartTime'].value_counts().sort_values(ascending=False)[:5]

1493146175    8
1478345904    6
1484649802    6
1481369525    6
1494374199    5
Name: visitStartTime, dtype: int64

In [187]:
import json
# This is my y-label for this data set. What I will be predicting.

df["totals"].head()

0    {"visits": "1", "hits": "1", "pageviews": "1",...
1    {"visits": "1", "hits": "1", "pageviews": "1",...
2    {"visits": "1", "hits": "1", "pageviews": "1",...
3    {"visits": "1", "hits": "1", "pageviews": "1",...
4    {"visits": "1", "hits": "1", "pageviews": "1",...
Name: totals, dtype: object

In [188]:
totals = pd.DataFrame([json.loads(each) for each in df['totals']])

In [189]:
totals.head()

  bounces hits newVisits pageviews transactionRevenue visits
0       1    1         1         1                NaN      1
1       1    1         1         1                NaN      1
2       1    1         1         1                NaN      1
3       1    1         1         1                NaN      1
4       1    1       NaN         1                NaN      1

In [190]:
totals.isnull().sum()

bounces               453023
hits                       0
newVisits             200593
pageviews                100
transactionRevenue    892138
visits                     0
dtype: int64

In [191]:
# Fill all Nan's in total df with seems it seems no value was 0
totals = totals.fillna(0)

In [192]:
totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 6 columns):
bounces               903653 non-null object
hits                  903653 non-null object
newVisits             903653 non-null object
pageviews             903653 non-null object
transactionRevenue    903653 non-null object
visits                903653 non-null object
dtypes: object(6)
memory usage: 41.4+ MB

In [193]:
# They are all numerical values.
totals.describe()

        bounces    hits newVisits pageviews  transactionRevenue  visits
count    903653  903653    903653    903653              903653  903653
unique        2     274         2       214                5333       1
top           0       1         1         1                   0       1
freq     453023  446754    703060    452522              892138  903653

In [194]:
totals['visits'].value_counts() # Should be removed from df since it has the same value for each observation.

1    903653
Name: visits, dtype: int64

In [195]:
totals = totals.drop(['visits'], axis=1)

In [196]:
totals.columns

Index(['bounces', 'hits', 'newVisits', 'pageviews', 'transactionRevenue'], dtype='object')

In [197]:
totals['bounces'] = totals.bounces.astype('int')
totals['hits'] = totals['hits'].astype('int')
totals['newVisits'] = totals['newVisits'].astype('int')
totals['pageviews'] = totals['pageviews'].astype('int')

In [198]:
totals['transactionRevenue'].shape

(903653,)

In [199]:
#  from isnull(), we realize there are 892137 Nan's which means that 
# there were 11516 visits that resulted into a purchases.
# NaN's will be filled in with 0
903653 - 892137

11516

In [200]:
# for the values that are not null, we will divide by 1000000 
# because the values are to the 1,000,000th unit.
totals[totals['transactionRevenue'].notnull()]['transactionRevenue'].value_counts().sort_values(ascending=True)[:3]

102000000    1
75110000     1
530800000    1
Name: transactionRevenue, dtype: int64

In [201]:
totals['transactionRevenue'] = totals['transactionRevenue'].map(lambda x: float(x)/1000000)
totals["transactionRevenue"].sort_values().head()

0         0.0
600405    0.0
600406    0.0
600407    0.0
600408    0.0
Name: transactionRevenue, dtype: float64

In [202]:
min_total_transactionRevenue = totals['transactionRevenue'].sort_values(ascending=True)
min_total_transactionRevenue.head()

0         0.0
600405    0.0
600406    0.0
600407    0.0
600408    0.0
Name: transactionRevenue, dtype: float64

In [203]:
max_total_transactionRevenue = totals['transactionRevenue'].sort_values(ascending=False)
max_total_transactionRevenue.head()

375253    23129.50
430822    17855.50
380988    16023.75
773715    10589.14
891576     8677.83
Name: transactionRevenue, dtype: float64

In [204]:
totals.head()

   bounces  hits  newVisits  pageviews  transactionRevenue
0        1     1          1          1                 0.0
1        1     1          1          1                 0.0
2        1     1          1          1                 0.0
3        1     1          1          1                 0.0
4        1     1          0          1                 0.0

In [205]:
df = pd.concat([df, totals], axis=1).drop('totals', axis=1)

In [206]:
df.head()

,channelGrouping,date,fullVisitorId,sessionId,visitId,visitNumber,visitStartTime,browser,deviceCategory,isMobile,...,isTrueDirect,keyword,medium,referralPath,source,bounces,hits,newVisits,pageviews,transactionRevenue
0,Organic Search,1970-01-01 00:00:00.020160902,1131660440785968503,1131660440785968503_1472830385,1472830385,1,1472830385,Chrome,desktop,False,...,-999,(not provided),organic,-999,google,1,1,1,1,0.0
1,Organic Search,1970-01-01 00:00:00.020160902,377306020877927890,377306020877927890_1472880147,1472880147,1,1472880147,Firefox,desktop,False,...,-999,(not provided),organic,-999,google,1,1,1,1,0.0
2,Organic Search,1970-01-01 00:00:00.020160902,3895546263509774583,3895546263509774583_1472865386,1472865386,1,1472865386,Chrome,desktop,False,...,-999,(not provided),organic,-999,google,1,1,1,1,0.0
3,Organic Search,1970-01-01 00:00:00.020160902,4763447161404445595,4763447161404445595_1472881213,1472881213,1,1472881213,UC Browser,desktop,False,...,-999,google + online,organic,-999,google,1,1,1,1,0.0
4,Organic Search,1970-01-01 00:00:00.020160902,27294437909732085,27294437909732085_1472822600,1472822600,2,1472822600,Chrome,mobile,True,...,True,(not provided),organic,-999,google,1,1,0,1,0.0

In [207]:
df.isnull().sum()

channelGrouping       0
date                  0
fullVisitorId         0
sessionId             0
visitId               0
visitNumber           0
visitStartTime        0
browser               0
deviceCategory        0
isMobile              0
operatingSystem       0
city                  0
continent             0
country               0
networkDomain         0
region                0
subContinent          0
adContent             0
campaign              0
isTrueDirect          0
keyword               0
medium                0
referralPath          0
source                0
bounces               0
hits                  0
newVisits             0
pageviews             0
transactionRevenue    0
dtype: int64

In [222]:
# Export to csv
df.to_csv('../kaggle_data/df_combined_tables.csv', index=False)

### Creating a basic model using only the values of total.

In [209]:
totals.head(3)

   bounces  hits  newVisits  pageviews  transactionRevenue
0        1     1          1          1                 0.0
1        1     1          1          1                 0.0
2        1     1          1          1                 0.0

In [210]:
totals.isnull().sum()

bounces               0
hits                  0
newVisits             0
pageviews             0
transactionRevenue    0
dtype: int64

In [211]:
totals.columns

Index(['bounces', 'hits', 'newVisits', 'pageviews', 'transactionRevenue'], dtype='object')

In [212]:
totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 5 columns):
bounces               903653 non-null int32
hits                  903653 non-null int32
newVisits             903653 non-null int32
pageviews             903653 non-null int32
transactionRevenue    903653 non-null float64
dtypes: float64(1), int32(4)
memory usage: 20.7 MB

In [213]:
# from sklearn.preprocessing import normalize

In [214]:
y = totals['transactionRevenue']
X = totals.drop(['transactionRevenue'], axis=1)

In [215]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: transactionRevenue, dtype: float64

#### train_test_split

In [216]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

In [217]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [218]:
X_train.corrwith(y_train).sort_values()

newVisits   -0.040999
bounces     -0.031934
hits         0.153002
pageviews    0.153753
dtype: float64

In [219]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [220]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.025320631161857787, 0.027986778883331453)