# Capstone Project - Google Predictive Analytics

# Part_4: EDA

### Performs & summarizes preliminary EDA of your data

In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv("./kaggle_data/train.csv")

C:\Users\install\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
df.head()

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386
3,Organic Search,20160902,"{""browser"": ""UC Browser"", ""browserVersion"": ""n...",4763447161404445595,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213
4,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",27294437909732085,"{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600

In [53]:
df['totals'].head()

0    {"visits": "1", "hits": "1", "pageviews": "1",...
1    {"visits": "1", "hits": "1", "pageviews": "1",...
2    {"visits": "1", "hits": "1", "pageviews": "1",...
3    {"visits": "1", "hits": "1", "pageviews": "1",...
4    {"visits": "1", "hits": "1", "pageviews": "1",...
Name: totals, dtype: object

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 12 columns):
channelGrouping         903653 non-null object
date                    903653 non-null int64
device                  903653 non-null object
fullVisitorId           903653 non-null object
geoNetwork              903653 non-null object
sessionId               903653 non-null object
socialEngagementType    903653 non-null object
totals                  903653 non-null object
trafficSource           903653 non-null object
visitId                 903653 non-null int64
visitNumber             903653 non-null int64
visitStartTime          903653 non-null int64
dtypes: int64(4), object(8)
memory usage: 82.7+ MB

In [55]:
df.describe()

               date       visitId    visitNumber  visitStartTime
count  9.036530e+05  9.036530e+05  903653.000000    9.036530e+05
mean   2.016589e+07  1.485007e+09       2.264897    1.485007e+09
std    4.697698e+03  9.022124e+06       9.283735    9.022124e+06
min    2.016080e+07  1.470035e+09       1.000000    1.470035e+09
25%    2.016103e+07  1.477561e+09       1.000000    1.477561e+09
50%    2.017011e+07  1.483949e+09       1.000000    1.483949e+09
75%    2.017042e+07  1.492759e+09       1.000000    1.492759e+09
max    2.017080e+07  1.501657e+09     395.000000    1.501657e+09

In [56]:
df.columns

Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

#### Exploring each column to understand contents

In [57]:
df['channelGrouping'].value_counts() # Can get_dummies with this variable

Organic Search    381561
Social            226117
Direct            143026
Referral          104838
Paid Search        25326
Affiliates         16403
Display             6262
(Other)              120
Name: channelGrouping, dtype: int64

In [58]:
from datetime import datetime
df['date'].value_counts()[:5] # stored as int. possibly changing to date timestamp
df['date'] = pd.to_datetime(df['date'])
df['date'].value_counts()[:5]

1970-01-01 00:00:00.020161128    4807
1970-01-01 00:00:00.020161115    4685
1970-01-01 00:00:00.020161114    4466
1970-01-01 00:00:00.020161130    4435
1970-01-01 00:00:00.020161026    4375
Name: date, dtype: int64

In [59]:
# stored as a json list. 
#most of the data is not available in demo dataset and may not be relevant in model. 
#Might end up not including in data
df['device'][3]

'{"browser": "UC Browser", "browserVersion": "not available in demo dataset", "browserSize": "not available in demo dataset", "operatingSystem": "Linux", "operatingSystemVersion": "not available in demo dataset", "isMobile": false, "mobileDeviceBranding": "not available in demo dataset", "mobileDeviceModel": "not available in demo dataset", "mobileInputSelector": "not available in demo dataset", "mobileDeviceInfo": "not available in demo dataset", "mobileDeviceMarketingName": "not available in demo dataset", "flashVersion": "not available in demo dataset", "language": "not available in demo dataset", "screenColors": "not available in demo dataset", "screenResolution": "not available in demo dataset", "deviceCategory": "desktop"}'

In [60]:
import json

In [61]:
totals = pd.DataFrame([json.loads(each) for each in df['totals']])
totals.head()

  bounces hits newVisits pageviews transactionRevenue visits
0       1    1         1         1                NaN      1
1       1    1         1         1                NaN      1
2       1    1         1         1                NaN      1
3       1    1         1         1                NaN      1
4       1    1       NaN         1                NaN      1

In [62]:
device = pd.DataFrame([json.loads(each) for each in df['device']])

In [63]:
df['fullVisitorId'].head()

0    1131660440785968503
1     377306020877927890
2    3895546263509774583
3    4763447161404445595
4      27294437909732085
Name: fullVisitorId, dtype: object

In [64]:
#df['fullVisitorId'].astype(int)

In [65]:
# unable to cast as an int due to int memory overflow error
# casting as a float instead. 
# May not to do much with this since it's an id and they have very little impact on models
df['fullVisitorId'].astype('float').head()

0    1.131660e+18
1    3.773060e+17
2    3.895546e+18
3    4.763447e+18
4    2.729444e+16
Name: fullVisitorId, dtype: float64

In [66]:
df['geoNetwork'][0]

'{"continent": "Asia", "subContinent": "Western Asia", "country": "Turkey", "region": "Izmir", "metro": "(not set)", "city": "Izmir", "cityId": "not available in demo dataset", "networkDomain": "ttnet.com.tr", "latitude": "not available in demo dataset", "longitude": "not available in demo dataset", "networkLocation": "not available in demo dataset"}'

In [67]:
# stored as a json script. 
# might draw correlation from continent and country, hence get_dummies
geoNetwork = pd.DataFrame([json.loads(each) for each in df['geoNetwork']])

In [68]:
# sessionID has fullVisitorId plus _and session id. 
# might hold same relevance as fullVisitorId 
df['sessionId'][0]

'1131660440785968503_1472830385'

In [69]:
df['fullVisitorId'][0]

'1131660440785968503'

In [70]:
df['sessionId'][0].split('_')[-1]

'1472830385'

In [71]:
# variable has same value for all observations. might not include column in model
df['socialEngagementType'].value_counts()

Not Socially Engaged    903653
Name: socialEngagementType, dtype: int64

In [72]:
# stored as a json string- showing online presence/status to site.
# might use newVisits number in model if different for observations 
df['totals'][0]

'{"visits": "1", "hits": "1", "pageviews": "1", "bounces": "1", "newVisits": "1"}'

In [73]:
df['totals'].head()

0    {"visits": "1", "hits": "1", "pageviews": "1",...
1    {"visits": "1", "hits": "1", "pageviews": "1",...
2    {"visits": "1", "hits": "1", "pageviews": "1",...
3    {"visits": "1", "hits": "1", "pageviews": "1",...
4    {"visits": "1", "hits": "1", "pageviews": "1",...
Name: totals, dtype: object

In [74]:
json.loads(df['trafficSource'][2])

{'campaign': '(not set)',
 'source': 'google',
 'medium': 'organic',
 'keyword': '(not provided)',
 'adwordsClickInfo': {'criteriaParameters': 'not available in demo dataset'}}

In [75]:
# this is a json script that contain values that may be valuable to our model. 
#might make use of some of the keys in the dictionary by getting dummies on the useful ones.
trafficSource = pd.DataFrame([json.loads(each) for each in df['trafficSource']])

In [76]:
trafficSource.head()

,adContent,adwordsClickInfo,campaign,campaignCode,isTrueDirect,keyword,medium,referralPath,source
0,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,(not provided),organic,NaN,google
1,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,(not provided),organic,NaN,google
2,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,(not provided),organic,NaN,google
3,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,NaN,google + online,organic,NaN,google
4,NaN,{'criteriaParameters': 'not available in demo ...,(not set),NaN,True,(not provided),organic,NaN,google

In [77]:
trafficSource.columns

Index(['adContent', 'adwordsClickInfo', 'campaign', 'campaignCode',
       'isTrueDirect', 'keyword', 'medium', 'referralPath', 'source'],
      dtype='object')

In [78]:
trafficSource.adwordsClickInfo[:5]

0    {'criteriaParameters': 'not available in demo ...
1    {'criteriaParameters': 'not available in demo ...
2    {'criteriaParameters': 'not available in demo ...
3    {'criteriaParameters': 'not available in demo ...
4    {'criteriaParameters': 'not available in demo ...
Name: adwordsClickInfo, dtype: object

In [79]:
pd.DataFrame(df['trafficSource'].value_counts()).head()

                                                    trafficSource
{"campaign": "(not set)", "source": "google", "...         297390
{"campaign": "(not set)", "source": "(direct)",...         143024
{"referralPath": "/yt/about/", "campaign": "(no...          66621
{"campaign": "(not set)", "source": "google", "...          66563
{"referralPath": "/", "campaign": "(not set)", ...          35224

In [80]:
# stored as ints, will be used in correlation and model
df['visitId'].value_counts().sort_values(ascending=False)[:5]

1493146175    8
1484649802    6
1478345904    6
1481369525    6
1494374199    5
Name: visitId, dtype: int64

In [81]:
# stored as ints, could be used in correlation and model
df['visitNumber'].value_counts().sort_values(ascending=False)[:5]

1    703060
2     92548
3     35843
4     19157
5     11615
Name: visitNumber, dtype: int64

In [82]:
# stored as ints, values and counts are same as visitId. 
# may be redundant since its a duplicate otherwise, could be used in correlation and model
df['visitStartTime'].value_counts().sort_values(ascending=False)[:5]

1493146175    8
1478345904    6
1484649802    6
1481369525    6
1494374199    5
Name: visitStartTime, dtype: int64

In [83]:
df.describe()

            visitId    visitNumber  visitStartTime
count  9.036530e+05  903653.000000    9.036530e+05
mean   1.485007e+09       2.264897    1.485007e+09
std    9.022124e+06       9.283735    9.022124e+06
min    1.470035e+09       1.000000    1.470035e+09
25%    1.477561e+09       1.000000    1.477561e+09
50%    1.483949e+09       1.000000    1.483949e+09
75%    1.492759e+09       1.000000    1.492759e+09
max    1.501657e+09     395.000000    1.501657e+09

In [84]:
import json
df["totals"].head()

0    {"visits": "1", "hits": "1", "pageviews": "1",...
1    {"visits": "1", "hits": "1", "pageviews": "1",...
2    {"visits": "1", "hits": "1", "pageviews": "1",...
3    {"visits": "1", "hits": "1", "pageviews": "1",...
4    {"visits": "1", "hits": "1", "pageviews": "1",...
Name: totals, dtype: object

In [85]:
totals = pd.DataFrame([json.loads(each) for each in df['totals']])

In [86]:
totals.head()

  bounces hits newVisits pageviews transactionRevenue visits
0       1    1         1         1                NaN      1
1       1    1         1         1                NaN      1
2       1    1         1         1                NaN      1
3       1    1         1         1                NaN      1
4       1    1       NaN         1                NaN      1

In [87]:
totals.isnull().sum()

bounces               453023
hits                       0
newVisits             200593
pageviews                100
transactionRevenue    892138
visits                     0
dtype: int64

In [88]:
totals.bounces.sort_values()[:3]

0         1
600973    1
600972    1
Name: bounces, dtype: object

In [89]:
totals['newVisits'].sort_values()[:3]

0         1
600220    1
600221    1
Name: newVisits, dtype: object

In [90]:
totals['pageviews'].sort_values()[:3]

0         1
436154    1
436153    1
Name: pageviews, dtype: object

In [91]:
totals['transactionRevenue'].shape

(903653,)

In [92]:
totals['transactionRevenue'].sort_values()[:3]

468262        10000
516718    100000000
789101    100000000
Name: transactionRevenue, dtype: object

In [93]:
# there were 11516 purchases
903653 - 892137

11516

In [94]:
totals[totals['transactionRevenue'].notnull()]['transactionRevenue'].value_counts().sort_values(ascending=True)[:3]

46780000     1
489200000    1
72270000     1
Name: transactionRevenue, dtype: int64

In [95]:
# Fill all Nan's in total df with seems it seems no value was 0
totals = totals.fillna(0)

In [96]:
totals.isnull().sum()

bounces               0
hits                  0
newVisits             0
pageviews             0
transactionRevenue    0
visits                0
dtype: int64

In [97]:
totals[totals['transactionRevenue'].notnull()]['transactionRevenue'].map(lambda x: int(x)/1000000).sort_values(ascending=False).head()

375253    23129.50
430822    17855.50
380988    16023.75
773715    10589.14
891576     8677.83
Name: transactionRevenue, dtype: float64

#### Creating a basic model using only the values of total.

In [98]:
totals.head(3)

  bounces hits newVisits pageviews transactionRevenue visits
0       1    1         1         1                  0      1
1       1    1         1         1                  0      1
2       1    1         1         1                  0      1

In [99]:
totals.columns

Index(['bounces', 'hits', 'newVisits', 'pageviews', 'transactionRevenue',
       'visits'],
      dtype='object')

In [104]:
from sklearn.preprocessing import normalize

In [105]:
y = totals['transactionRevenue']
X = totals.drop(['transactionRevenue'], axis=1)

In [115]:
X.corrwith(y)

Series([], dtype: float64)

#### train_test_split

In [106]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [112]:
X_train.corrwith(y_train).sort_values()

Series([], dtype: float64)

In [116]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [117]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.025320631161857125, 0.027986778883331342)