# Google Predictive Analysis

## Executive Report

### Problem Statement
**Google Analytics Customer Revenue Prediction**

>**Predict how much GStore customers will spend**

Proposed Methods and Models
>I will be trying out different unsupervised and supervised or a combination of both type of models to find out which one.

### Risks & assumptions of your data
    Risks involved will be minimal. some of which includes having sufficient time to try out all of the intended models and also have insufficient memory to run some of the models

Also this might be too aggressive given the nature/complexity of the dataset.

**Revise initial goals & success criteria, as needed**

My goals remain the same as the criteria have been layout by kaggle competition. However, I may want to predict whether a site visit led to a transaction and if yes, go ahead to predict amount customers will spend per transaction.

### Data Source
Data - Given on Kaggle. Data-size for training = 1,468,195 KB; Data-size for test = 1,315,279 KB; Data format = .csv; 

There are some json scripts in the dataset

### Examining Data Set

In [1]:
import pandas as pd

import numpy as np


df = pd.read_csv("./kaggle_data/train.csv")

C:\Users\install\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386
3,Organic Search,20160902,"{""browser"": ""UC Browser"", ""browserVersion"": ""n...",4763447161404445595,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213
4,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",27294437909732085,"{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 12 columns):
channelGrouping         903653 non-null object
date                    903653 non-null int64
device                  903653 non-null object
fullVisitorId           903653 non-null object
geoNetwork              903653 non-null object
sessionId               903653 non-null object
socialEngagementType    903653 non-null object
totals                  903653 non-null object
trafficSource           903653 non-null object
visitId                 903653 non-null int64
visitNumber             903653 non-null int64
visitStartTime          903653 non-null int64
dtypes: int64(4), object(8)
memory usage: 82.7+ MB

### Exploratory Data Analysis

I looked at each column. Filled some `Nan's` with `-999` and others with `0` depending on the data types and function of each column.

For each column that has a json script imbeded, I transform them into a data frame. For example `df['totals']`. Once the column has been turned into a data frame. some more EDA is done by deleting columns that would play any effect on our model either because its the same for all rows or completely empty or has no value.
After EDA, this column is added to the main data frame while the previous json column is dropped to avoid any duplicates.
The `total` column is illustrated below.

In [4]:
df['totals'].head()

0    {"visits": "1", "hits": "1", "pageviews": "1",...
1    {"visits": "1", "hits": "1", "pageviews": "1",...
2    {"visits": "1", "hits": "1", "pageviews": "1",...
3    {"visits": "1", "hits": "1", "pageviews": "1",...
4    {"visits": "1", "hits": "1", "pageviews": "1",...
Name: totals, dtype: object

In [5]:
import json
# This is my y-label for this data set. What I will be predicting.

In [6]:
totals = pd.DataFrame([json.loads(each) for each in df['totals']])
totals.head()

  bounces hits newVisits pageviews transactionRevenue visits
0       1    1         1         1                NaN      1
1       1    1         1         1                NaN      1
2       1    1         1         1                NaN      1
3       1    1         1         1                NaN      1
4       1    1       NaN         1                NaN      1

In [7]:
totals.isnull().sum()

# Fill all Nan's in total df with seems it seems no value was 0
totals = totals.fillna(0)

In [8]:
totals.info()

# They are all numerical values.
totals.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 6 columns):
bounces               903653 non-null object
hits                  903653 non-null object
newVisits             903653 non-null object
pageviews             903653 non-null object
transactionRevenue    903653 non-null object
visits                903653 non-null object
dtypes: object(6)
memory usage: 41.4+ MB

        bounces    hits newVisits pageviews  transactionRevenue  visits
count    903653  903653    903653    903653              903653  903653
unique        2     274         2       214                5333       1
top           0       1         1         1                   0       1
freq     453023  446754    703060    452522              892138  903653

In [9]:
totals.columns

Index(['bounces', 'hits', 'newVisits', 'pageviews', 'transactionRevenue',
       'visits'],
      dtype='object')

In [10]:
totals['bounces'] = totals.bounces.astype('int')
totals['hits'] = totals['hits'].astype('int')
totals['newVisits'] = totals['newVisits'].astype('int')
totals['pageviews'] = totals['pageviews'].astype('int')
totals['visits'] = totals['visits'].astype('int')

In [11]:
totals['transactionRevenue'].shape

#  from isnull(), we realize there are 892137 Nan's which means that 
# there were 11516 visits that resulted into a purchases.
# NaN's will be filled in with 0
903653 - 892137

11516

In [12]:
# for the values that are not null, we will divide by 1000000 
# because the values are to the 1,000,000th unit.
totals[totals['transactionRevenue'].notnull()]['transactionRevenue'].value_counts().sort_values(ascending=True)[:3]

42000000    1
3190000     1
37280000    1
Name: transactionRevenue, dtype: int64

In [13]:
totals['transactionRevenue'] = totals['transactionRevenue'].map(lambda x: float(x)/1000000)
totals["transactionRevenue"].sort_values().head()

0         0.0
600405    0.0
600406    0.0
600407    0.0
600408    0.0
Name: transactionRevenue, dtype: float64

In [14]:
min_total_transactionRevenue = totals['transactionRevenue'].sort_values(ascending=True)
min_total_transactionRevenue.head()

0         0.0
600405    0.0
600406    0.0
600407    0.0
600408    0.0
Name: transactionRevenue, dtype: float64

In [15]:
max_total_transactionRevenue = totals['transactionRevenue'].sort_values(ascending=False)
max_total_transactionRevenue.head()

375253    23129.50
430822    17855.50
380988    16023.75
773715    10589.14
891576     8677.83
Name: transactionRevenue, dtype: float64

In [16]:
totals.head()

   bounces  hits  newVisits  pageviews  transactionRevenue  visits
0        1     1          1          1                 0.0       1
1        1     1          1          1                 0.0       1
2        1     1          1          1                 0.0       1
3        1     1          1          1                 0.0       1
4        1     1          0          1                 0.0       1

In [17]:
df = pd.concat([df, totals], axis=1).drop('totals', axis=1)

df.head()

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,trafficSource,visitId,visitNumber,visitStartTime,bounces,hits,newVisits,pageviews,transactionRevenue,visits
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385,1,1,1,1,0.0,1
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147,1,1,1,1,0.0,1
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386,1,1,1,1,0.0,1
3,Organic Search,20160902,"{""browser"": ""UC Browser"", ""browserVersion"": ""n...",4763447161404445595,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213,1,1,1,1,0.0,1
4,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",27294437909732085,"{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600,1,1,0,1,0.0,1

After extensive EDA the data frame was saved as a csv file and then used in another notebook for modeling.